* {
    margin: 0;
    padding: 0;
}

/*Main Nav*/
body {
    background-color: black;
}

header {
    position: relative;
    height: 250px;
    background-color: black;
    text-align: center;
}

header h1 {
    font-family: 'Langar', cursive;
    color: rgb(196, 196, 196);
    height: 100px;
    line-height: 180px;
    font-size: 40px;

}

nav {
    background-color: rgb(43, 43, 43);
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 10px;

}

nav li {
    display: inline;
    padding: 20px;

}

nav li a {
    color: rgb(255, 255, 255);
    font-family: 'Bungee Outline', cursive;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 2px 2px #000000;

}

nav li a:hover {
    color: rgb(252, 70, 70);
}

/*Home Page*/

/*Hangman page*/

.hangmanBox {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: grey;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    height: 480px;

}

.hangmanBox h1 {
    color: white;
}

.labelSpace {
    padding-right: 10px;
    color: white;
    font-size: 20px;
}

.wordInput {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.charBox {
    border-radius: 10px;
    padding: 7px;

}

.submit {
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 80px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.submit:hover {
    color: red;
}

.restart {
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 110px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.restart:hover {
    color: red;
}

.wordToGuess {
    padding-top: 30px;
    font-size: 24px;
    color: white;

}

.hangmanDraw {
    width: 100%;
    text-align: center;
    margin: auto;
}
.hangmanDraw h1{
    margin: auto;
    text-align: center;
    padding:10px;
}
.hangmanDraw{
    padding: 10px;
    margin: auto;
}

/*Guess a number*/
.guessNumBox {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: grey;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    height: 280px;

}

.guessNumBox  h1 {
    color: white;
}

.labelSpace {
    padding-right: 10px;
    color: white;
    font-size: 20px;
}

.numberInput {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.numberBox {
    border-radius: 10px;
    padding: 7px;

}

.submitNum {
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 80px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.submit:hover {
    color: red;
}

.restart {
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 110px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.restart:hover {
    color: red;
}

.numToGuess {
    padding-top: 30px;
    font-size: 24px;
    color: white;

}
/*Tic Tac Toe*/
.ticContainer{
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: grey;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    height: 520px;

}
.ticContainer table{
    width: 100%;
    text-align: center;
}
.ticContainer table td{
    background-color: white;
   font-size: 20px;
}
.ticContainer .title{
    color: white;
    padding: 10px;
}

.box{
  
    width: 70px;
    height: 70px;
    text-align: center;
    display: inline-block;
    color:black;
   
}

.score{
    display: inline;
    
}
.resetScore{
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 110px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}
.resetScore:hover {
    color: red;
}