* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/*Main Nav*/
body {
    background-color: black;
}

header {
    position: relative;
    height: 250px;
    background-color: black;
    text-align: center;
}

header h1 {
    font-family: 'Langar', cursive;
    color: rgb(196, 196, 196);
    height: 100px;
    line-height: 180px;
    font-size: 40px;

}
header a{
    text-decoration: none;
    color: rgb(196, 196, 196);
}
nav {
    background-color: rgb(43, 43, 43);
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 10px;

}

nav li {
    display: inline;
    padding: 20px;

}

nav li a {
    color: rgb(255, 255, 255);
    font-family: 'Bungee Outline', cursive;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 2px 2px #000000;

}

nav li a:hover {
    color: rgb(252, 70, 70);
}

/*Home Page*/
.mainContent {
    position: relative;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 140px;
}

.mainContent h1{
    font-family: 'Langar', cursive;
    margin: 10px;
    opacity: 0.4;
    padding: 50px;
    display: inline-block;
    height: 70px;
    width: 310px;
    background-color: rgb(78, 78, 78);
}
.mainContent h1:hover{
    opacity: 1;
    animation: blinker 1s linear infinite;
    font-family: 'Bungee Outline', cursive;

}
.mainContent a{
    color: white;
    text-decoration: none;
}
.mainContent h1 a:visited{
    color: white;
}
/*Hangman page*/

.hangmanBox {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: grey;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    height: 480px;

}

.hangmanBox h1 {
    color: white;
}

.labelSpace {
    padding-right: 10px;
    color: white;
    font-size: 20px;
}

.wordInput {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.charBox {
    border-radius: 10px;
    padding: 7px;

}

.guessWord {
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 80px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.guessWord:hover {
    color: red;
}

.restart {
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 110px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.restart:hover {
    color: red;
}

.wordToGuess {
    padding-top: 30px;
    font-size: 24px;
    color: white;

}

.hangmanDraw {
    width: 100%;
    text-align: center;
    margin: auto;
}

.hangmanDraw h1 {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.hangmanDraw {
    padding: 10px;
    margin: auto;
}

/*Guess a number*/
.guessNumBox {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: grey;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    height: 280px;
    margin-bottom: 20px;
}

.guessNumBox h1 {
    color: white;
}

.labelSpace {
    padding-right: 10px;
    color: white;
    font-size: 20px;
}

.numberInput {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.numberBox {
    border-radius: 10px;
    padding: 7px;

}

.submitNum {
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 80px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.submit:hover {
    color: red;
}

.restart {
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 110px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.restart:hover {
    color: red;
}

.numToGuess {
    padding-top: 30px;
    font-size: 24px;
    color: white;

}

/*Tic Tac Toe*/
.ticContainer {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    background-color: grey;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    height: 520px;
    margin-bottom: 20px;
}

.ticContainer table {
    width: 100%;
    text-align: center;
    border-spacing: 4px;
    background-color: rgb(53, 16, 16);
}

.ticContainer table tr {
    height: auto;
    width: auto;
}

.ticContainer table td {
    background-color: rgb(221, 221, 221);
    font-size: 20px;
    height: 105px;
    width: 140px;
}

.ticContainer .title {
    color: white;
    padding: 10px;
}

.box {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 40px;
    width: 140px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    color: black;

}

.score {
    display: inline;
    color: white;
    padding: 9px;
}

.resetGame {
    margin-left: 20px;
    margin-top: 10px;
    background-color: black;
    border-radius: 20px;
    height: 50px;
    width: 170px;
    font-size: 20px;
    color: white;
    border-color: white;
    font-family: 'Bungee Outline', cursive;
}

.resetGame:hover {
    color: red;
}

.resultDisplay {
    height: 200px;
    color: white;
    animation: pulse 1.5s linear infinite;
    border-radius: 10px;
}

.resultDisplay h1 {
    padding: 70px;
    text-shadow: 2px 2px black;
}

@keyframes pulse {
    0% {
        transform: scale(.5);
        background-color: navy;
        color: bisque;

    }

    25% {
        background-color: rgb(194, 218, 87);
        color: rgb(166, 192, 93);
    }

    50% {
        background-color: rgb(182, 49, 175);
        color: rgb(196, 117, 117);
    }

    75% {
        background-color: rgb(94, 139, 87);
        color: rgb(77, 30, 30);
    }

    100% {
        transform: scale(0.8);
        background-color: rgb(202, 77, 77);
        color: rgb(145, 38, 38);
    }
}
@keyframes blinker {
    0% {
 
        background-color: rgb(41, 41, 41);
        color: rgb(163, 153, 141);

    }
    50% {
 
        background-color: rgb(250, 0, 0);
        color: rgb(163, 153, 141);

    }
    100% {
 
        background-color: rgb(61, 50, 50);
        color: rgb(163, 153, 141);

    }
    
}